<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nave_nodriza.nombre %>
</p>

<%= link_to 'Edit', edit_nave_nodriza_path(@nave_nodriza) %> |
<%= link_to 'Back', nave_nodrizas_path %>
